#tsv2htmltable--data > thead > tr > th.decimal,
#tsv2htmltable--data > thead > tr > th.integer {
    max-width: 4em;
    overflow: hidden;
}

#tsv2htmltable--data > tbody > tr > td.text {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
}
